main>h2 {
    text-align: center;
    padding-top: 2vh;
    color: #333;
    font-size: 300%;
}



main ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 100%;
    padding: 4em;
    justify-content: center;
    align-items: center;
    
}

main li{
    width: 40%;
    padding: 20px;
    margin-bottom: 4em;
    border: 1px solid #333;
    box-shadow: 0px 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

main li:nth-child(1){
    width: 50%;
}

main img{
    width: 100%;
    height: 50vmin;
    padding: 1em 0;
}

main p {
    text-align: center;
    padding: 15px 0;
}





@media all and (max-width: 1500px) {
    main li:nth-child(1){
        width: 60%;
    }
}


@media all and (max-width: 1200px) {
    main li{
        width: 60%;
    }
    main li:nth-child(1){
        width: 70%;
    }
}

@media all and (max-width: 1100px) {
    main li:nth-child(1){
        width: 80%;
    }
}

@media all and (max-width: 950px) {
    main li:nth-child(1){
        width: 90%;
    }
}

@media all and (max-width: 770px) {

}
