table,th,td { 
    border: thin solid black;

}

table a,td,th,tr,b,i,span,small{
    color:black;
}

th{
    
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

table{  
    margin: auto;
    font-size: 100%;
    box-shadow: 1px 1px 5px black;
    background-color: rgba(94, 170, 221, 0);
    border-collapse: collapse;
    width: 80%;
}

@media screen and (max-width: 800px) {
    table {
      margin-top: 3em;
      margin-bottom: 3em;
    }
    main p,main a{font-size: 100%;}
  }