main{
    display: flex;
}

.navEquipe ul {
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
}

.navEquipe li {
    margin: 0 25px;
}

.navEquipe a {
    font-size: 150%;
}

.choix {
    font-size: 400%;
}

.contenue{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}