html {
    height: 100%;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { text-decoration: none; }

li{ list-style: none; }

body{
    background: rgb(241, 142, 44);
    font-family: 'monospace';
    display: flex;
    flex-direction: column;
    height: 100vh;
}
  
header{
    width: 100%;
}

.navbar{
    padding: 25px;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
  
.navbar li a {
    font-size: 120%;
    position: relative;
    color: white;
    cursor: pointer;
}

.navbar li a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom center;
    transition: 0.25s ease-out;
}
  
  .navbar li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom cen;
}

.navbar .logo{
    height: 14vh;
}

.titre{
    font-weight: bold;
    color: black;
    font-size: 3vw;
    margin-left: 50px;
    margin-right: 20px;
}

.navLinks{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.navbar .navLinks ul {
    display: flex;
}
  
.navbar .navLinks ul li {
    margin: 0 25px;
}
  
.navbar .navLinks ul li a{
    font-size: 120%;
}

.navbar .navLinks ul .active a {
    color: black;
    font-weight: 600;
}
  
.navbar .hamburger {
    display: none;
    position: absolute;
    right: 35px;
    width: 35px;
}

.croix{
    display: none;
    position: absolute;
    right: 35px;
    width: 35px;
}


main{
    flex: 1 0 auto;
}

footer {
    background-color: #333;
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 0;
}

.bloc{
    margin: 0 50px;
}

.footerContact h3,
.footerMedias h3 {
    font-size: 25px;

}

.footerContact li {
    padding: 5px 0;
    font-size: 20px;
}

.listeContact,
.listeMedias {
    padding: 5px 0;
}

.listeMedias img {
    width: 30px;
    margin: 10px 10px;
}

.listeMedias a {
    position: relative;
    right: 10px;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    font-size: 25px;
}

@media screen and (max-width: 1000px) {
    .navbar{
        padding: 35px;
        justify-content: center;
    }
  
    .navbar .logo{
        height: 14vw;       
    }
  
    .navbar .hamburger{
        display: block;
        z-index: 2;
    }

    .navbar .hamburger.open{
        display: none;
    }
  
    .navbar .croix.close{
        display: block;
        z-index: 2;
    }

    .navLinks {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -100vh;
        transition: all 0.5s ease;
        z-index: 2;
    }
  
    .navLinks.mobileMenu{
        margin-top: 0;
    }

    .navLinks ul {
        display: flex;
        flex-direction: column;
    }
    
    .navbar .navLinks ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }
}

@media screen and (max-width: 800px){
    footer{
        flex-wrap: wrap;
    }

    .bloc{
        width: 300px;
    }

    .bloc:nth-child(1){
        margin-bottom: 30px;
    }
}