html {
    height: 100%;
  }
  
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: white;
}



body{
    font-family: 'monospace';
    display: flex;
    flex-wrap: wrap;
    background: rgb(241, 142, 44);
}
  
header{
    flex-basis: 100%;
    width: 100%;
}

.navbar{
    padding: 25px;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
  
.navbar li a {
    font-size: 120%;
    position: relative;
    color: white;
    cursor: pointer;
}

.navbar li a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom center;
    transition: 0.25s ease-out;
}
  
  .navbar li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom cen;
}

.navbar .logo{
    height: 14vh;
}

.titre{
    font-weight: bold;
    color: black;
    font-size: 3vw;
    margin-left: 50px;
    margin-right: 20px;
}

.navLinks{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.navbar .navLinks ul {
    display: flex;
}
  
.navbar .navLinks ul li {
    margin: 0 25px;
}
  
.navbar .navLinks ul li a{
    font-size: 120%;
}

.navbar .navLinks ul .active a {
    color: black;
    font-weight: 600;
}
  
.navbar .hamburger {
    display: none;
    position: absolute;
    right: 35px;
    width: 35px;
}

.croix{
    display: none;
    position: absolute;
    right: 35px;
    width: 35px;
}


main{
    flex-basis: 70%;
    flex-grow: 1;
}

article {
    border: thin solid black;
    box-shadow: 0px 0px 10px black;
    flex-basis: 15%;
    padding: 1.5em;
    margin: 2em;
    height: 50%;
  }

article section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

article p {
    margin: 15px 0;
}

article ul {
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}

article li {
    padding: 0.5em;
    display: flex;
}
  article li img {
    width: 100%;
}
article li a {
    width: 2em;
    padding-left: 1em;
}
  
footer {
    position: absolute;
    bottom: 0;
    flex-basis: 100%;
    width: 100%;
    left: 0;
    z-index: 1;
}
footer p {
    text-align: center;
    border: thin solid black;
    padding: 1em;
}
  
@media all and (max-width: 1000px) {
    .navbar{
        padding: 35px;
        justify-content: center;
    }
  
    .navbar .logo{
        height: 14vw;       
    }
  
    .navbar .hamburger{
        display: block;
        z-index: 2;
    }

    .navbar .hamburger.open{
        display: none;
    }
  
    .navbar .croix.close{
        display: block;
        z-index: 2;
    }

    .navLinks {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -100vh;
        transition: all 0.5s ease;
        z-index: 2;
    }
  
    .navLinks.mobileMenu{
        margin-top: 0;
    }

    .navLinks ul {
        display: flex;
        flex-direction: column;
    }
    
    .navbar .navLinks ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }
  }